@font-face {
   font-family: Stilu;
   src: url(Stilu-Bold.otf);
   font-weight: bold;
}

@font-face {
   font-family: Stilu;
   src: url(Stilu-Regular.otf);
   font-style: regular;
}

@font-face {
   font-family: Stilu;
   src: url(Stilu-Light.otf);
   font-weight: light;
}


body {
    background-color: #ffffff;
}

.my-text {
	display: block;
	vertical-align: top;
	text-align: center;
	margin: auto;
}

h1 {
	color: #C791A2;
	text-align: center;
   	font-family: Stilu;
   	font-size: 35px;
}

h3 {
	color: #1187A9;
	font-family: Stilu;
	font-style: regular;
	font-size: 30px;
	margin-top: 40px;
	margin-bottom: 40px;
}

h4 {
	color: #86A6AF;
	font-family: Stilu;
	font-size: 20px;
	margin: 5px;
}

h5 {
	margin: 2px;
	font-family: Stilu;
	font-size: 14px;
}

h6 {
	margin: 2px;
	font-family: Stilu;
	font-size: 12px;
}

.intro-text {
	text-align: center;
	width: 400px;
	margin: 25px auto;
	font-family: Stilu;
	font-size: 16px;
	line-height: 1.4;
}

.regular-text {
	margin: 25px;
	margin-top: 20px;
	margin-bottom: 50px;
	font-family: stilu;
	font-size: 16px;
	line-height: 1.4;
}

.my-links {
	text-align: center;
	font-family: Stilu;
	margin: 30px;
}

img {
	display: block;
	width: 30%;
	height: auto;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 30px;
}

.img-circle {
    border-radius: 50%;
}

.signatur {
	display: block;
	width: 80%
	margin: auto;
	padding-top: 20px;
	padding-bottom: 0px;
	background-color: none;

}

footer { 
	background-color: #C791A2;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media only screen and (min-width: 760px) {
	.my-text {
		display: inline-block;
		max-width: 40%; 
	}

	.head-div {
		text-align: center;
	}
}